
.blogPost {
  font-family: 'avenir';
  .title {
    background: royalblue;
    color:white;
  }
  .subtitle {
    
  }
  .post {
    padding: 1rem;
  }
  .links {
    background: #dedede;
    display: flex;
    justify-content: space-evenly;
    .link {
      margin: 0.5rem;
    }
  }
}